In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
profit=data['revenue']-data['budget']
data['profit']=profit

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
data2=data.sort_values('budget',ascending=False).head(1)['original_title'].values[0]
data2

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [13]:
data3=data.sort_values('runtime',ascending=False).head(1)['original_title'].values[0]
data3

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data4=data.sort_values('runtime',ascending=True).head(1)['original_title'].values[0]
data4

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = '2. 110'
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'
data[('runtime')].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
profit=data['revenue']-data['budget']
data['profit']=profit
dataP=data.sort_values('profit',ascending=False).head(10)['original_title'].values[0]
dataP

'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
dataBad=data.sort_values('profit',ascending=True).head(1)['original_title'].values[0]
dataBad

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1. 1478'
display(len(data[data['revenue']> data['budget']]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data2008=data.query('release_year==2008').sort_values('revenue',ascending=False).head(1)['original_title'].values[0]
data2008

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
profit=data['revenue']-data['budget']
data['profit']=profit
period=data.query("release_year >=2012 & release_year <=2014")
period.sort_values('profit',ascending=True).head(1)['original_title'].values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
display(data['genres'].str.split('|').explode().value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [23]:
answers['12'] = '1. Drama'
data_rev=data[data['revenue']> data['budget']]
display(data_rev['genres'].str.split('|').explode().value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [24]:
answers['13'] = '5. Peter Jackson'
director_df=data.groupby(['director']).sum()
display(director_df.sort_values('profit',ascending=False).head(1))

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [25]:
answers['14'] = '3. Robert Rodriguez'
act_genres=data[data['genres'].str.contains("Action")]
dir_genres=act_genres['director'].str.split('|').explode().value_counts()
display(dir_genres.head(1))

Robert Rodriguez    9
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
answers['15'] = '3. Chris Hemsworth'
data2012=data.query("release_year ==2012").groupby(['cast']).sum().sort_values('profit'
,ascending=False).head(1)
display(data2012)

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,220000000,1519557910,143,7.3,2012,1299557910

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [27]:
answers['16'] = '3. Matt Damon'
highBud=data[data['budget']> data['budget'].mean()]
actors=highBud['cast'].str.split('|').explode().value_counts().head(1)
display(actors)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [28]:
answers['17'] = '2. Action'
actNic=data[data['cast'].str.contains("Nicolas Cage")]
genresCage=actNic['genres'].str.split('|').explode().value_counts().head(1)
display(genresCage)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [29]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
bfilm=data[data['production_companies'].str.contains("Paramount Pictures")]
bfilm[bfilm['profit']<bfilm['profit'].mean()].sort_values('profit',ascending=True).head(1)['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [30]:
answers['19'] = '5. 2015'
revbest=data.groupby(['release_year'])['revenue'].sum()
revbest.sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
answers['20'] = '1. 2014'
wfilm=data[data['production_companies'].str.contains("Warner Bros")]
wfilm.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = '4. Сентябрь'
month=data['release_date'].str.split('/').explode().value_counts().head(1)
month

#хотела бы пояснить свое решение, может и несовсем правильное
#этот метод поделил строчки с датами и посчитал кол-во упоминаний каждого элемента
#сначала идет месяц
#вижу, что 9 месяц (сентябрь) упоминается больше всего раз
#month

9    294
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '2. 450'
data['release_date'] = pd.to_datetime(data['release_date'])
summerfilms=data[data.release_date.dt.month.isin([6, 7, 8,])]
display(len(summerfilms))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = '5. Peter Jackson'
data['release_date'] = pd.to_datetime(data['release_date'])
winterfilms=data[data.release_date.dt.month.isin([1, 2, 12,])]
winter_dir=winterfilms.groupby(['director']).count().sort_values('original_title',ascending=False).head(1)
winter_dir

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
director,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
answers['24'] = '5. Four By Two Productions '
def counter(x, y):
    comp=pd.Series(x[y].str.cat(sep='|').split('|'))
    studio=comp.value_counts(ascending=False)
    return studio
data['symb'] = data.original_title.map(len)
result = counter(data,'production_companies')
for i in result.index:
    result[i] = data['symb'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
result.sort_values(0, ascending=False).head(1)

Four By Two Productions    83
dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
answers['25'] = '3. Midnight Picture Show'
def counter(x, y):
    comp=pd.Series(x[y].str.cat(sep='|').split('|'))
    studio=comp.value_counts(ascending=False)
    return studio
data['symb'] = data.overview.map(len)
result = counter(data,'production_companies')
for i in result.index:
    result[i] = data['symb'][data['production_companies'].map(lambda x: True if i in x else False)].mean()
result.sort_values(0, ascending=False).head(1)

Midnight Picture Show    1000
dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [37]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
best1 = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['vote_average', 'original_title']]
best1

      vote_average                                 original_title
9              8.0                                     Inside Out
34             8.0                                           Room
118            8.0                                   Interstellar
119            7.9                        Guardians of the Galaxy
125            8.0                             The Imitation Game
128            7.9                                      Gone Girl
138            7.9                       The Grand Budapest Hotel
370            7.9                                      Inception
599            8.1                                The Dark Knight
872            7.9                                    The Pianist
1081           7.9  The Lord of the Rings: The Return of the King
1183           7.9                        The Wolf of Wall Street
1191           7.9                               12 Years a Slave
1800           7.9                                        Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [38]:
answers['27'] = '1. Daniel Radcliffe & Rupert Grint'
from itertools import combinations
actors = data.cast.str.split('|').tolist()
couples=[]
for i in actors:
   for j in combinations(i, 2):
       couples.append(' '.join(j))
couples = pd.DataFrame(couples)
couples.columns = ['act_couple']
couples.act_couple.value_counts().head(1)

Daniel Radcliffe Rupert Grint    8
Name: act_couple, dtype: int64

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions ',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '1. Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27